%button {
  font-weight: 500;
  border: none;
  border-radius: 12px;
  display: inline-block;
  cursor: pointer;
}

%small {
  font-size: 12px;
  padding: 10px 16px;
}

%medium {
  font-size: 14px;
  padding: 12px 18px;
}

%large {
  font-size: 16px;
  padding: 12px 24px;
}

%primary {
  background-color: #0a84ff;
  color: #ffffff;
}

%secondary {
  background-color: #32d74b;
  color: #ffffff;
}

.button {
  @extend %button;

  &.small {
    @extend %small;
  }

  &.medium {
    @extend %medium;
  }

  &.text {
    color: #424242;
    background-color: transparent;
    text-decoration: underline;
  }

  &.solid {
    background-color: transparent;
    border: 1px solid #424242;
    color: #424242;
  }

  &.primary {
    @extend %primary;
  }

  &.secondary {
    @extend %secondary;
  }

  &.icon {
    padding: 8px 12px;

    &-only {
      padding: 6px 8px;
      border-radius: 6px;
    }
  }
}
